@font-face
  font-family: 'Bitstream Vera Sans Mono'
  font-style: normal
  font-weight: normal
  src: local("Bitstream Vera Sans Mono"), url('/fonts/VeraMono.woff') format("woff")


@font-face
  font-family: 'Bitstream Vera Sans Mono Oblique'
  font-style: normal
  font-weight: normal
  src: local("Bitstream Vera Sans Mono Oblique"), url('/fonts/VeraMono-Italic.woff') format("woff")


@font-face
  font-family: 'Bitstream Vera Sans Mono Bold'
  font-style: normal
  font-weight: normal
  src: local("Bitstream Vera Sans Mono Bold"), url('/fonts/VeraMono-Bold.woff') format("woff")


@font-face
  font-family: 'Bitstream Vera Sans Mono Bold Oblique'
  font-style: normal
  font-weight: normal
  src: local("Bitstream Vera Sans Mono Bold Oblique"), url('/fonts/VeraMono-Bold-Italic.woff') format("woff")


pre, code
  font-family: Bitstream Vera Sans Mono, sans-serif

.gist td
  border-bottom: 0

pre
  margin: 1em 0
  background: #282c34
  font-size: 0.9em
  border-radius: 1px
  padding: 10px
  color: white

p > .hljs-keyword
  background: #efefef
  padding: 1px 3px

.hljs-keyword pre.hljs
  overflow: auto

figure
  code > table
    margin-bottom: 0
  > pre
    padding: 1em
    overflow: auto
    .lineno
      padding: 0 20px
      border-right: 1px solid white
      margin-right: 5px
  .code pre
    padding: 0
    padding-right: 20px

.clearfix:after
  content: " "
  visibility: hidden
  display: block
  height: 0
  clear: both